/* Unobtrusive Borders */

html.dark.mebis #topofscroll {
    border: none !important;
}

.activity-item:not(.activityinline) {
    border-style: none !important;
    border-bottom-style: solid !important;
    border-bottom-color: var(--color-gray-light) !important;
}

.mebis.dark {
    --color-button-border: var(--color-gray-light) !important;
    --color-input-border: var(--color-gray-light) !important;
}

/* Consistent Button Height */

#searchinput, #groupingdropdown, #sortingdropdown, #displaydropdown {
    height: 55px !important;
}

/* Dark Scrollbar */

.mebis.dark * {
    scrollbar-color: var(--color-gray-light) var(--color-secondary) !important;
}

.mebis.dark *::-webkit-scrollbar-track {
    background: var(--color-secondary) !important;
}

.mebis.dark *::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-light) !important;
    border: 3px solid var(--color-secondary) !important;
}